.flex-box__item {
    margin-top: 121px;
    margin-right: 75px;
    max-width: 215px;
}

.flex-box__item:last-child {
    margin-right: 96px;
}

@media screen and (max-width: 767px) {
    .flex-box__item {
        margin:40px auto 0 auto;
    }
    .flex-box__item:last-child {
        margin:40px auto 0 auto;
    }
    
}