.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
  margin-bottom: 132px;
}

@media screen and (max-width: 767px) {
  .intro {
      display: flex;
      flex-direction: column;
  }
}