.grid-box__image {
    margin:0 auto;
    min-width:638px;
    max-height: 580px;
    object-fit: cover;
}

@media screen and (max-width: 1279px) {
    .grid-box__image {
        min-width:515px;
        max-height: 380px;
    }
}