.grid-box__image {
    margin:0 auto;
    max-width:698px;
    max-height: 580px;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        max-width: 340px;
        max-height: 300px;
    }
}