.form__input_large {
  margin: 20px auto 0 70px;
  width: 350px;
  height: 100px;
  line-height: 27px;
  resize: none;
}

.form__input_large::-webkit-input-placeholder {color: black;}
.form__input_large::-moz-placeholder          {color: black;}
.form__input_large:-moz-placeholder           {color: black;}
.form__input_large:-ms-input-placeholder      {color: black;}