.form__input_large {
  margin: 20px 0 0 66px;
  width: 350px;
  height: 100px;
  line-height: 27px;
  resize: none;
  letter-spacing: -1px;
  border-radius: 5px;
}

.form__input_large::-webkit-input-placeholder {color: black;}
.form__input_large::-moz-placeholder          {color: black;}
.form__input_large:-moz-placeholder           {color: black;}
.form__input_large:-ms-input-placeholder      {color: black;}