.form__input_smal {
  margin: 83px auto 0 70px;
  width: 350px;
  height: 27px;
  line-height: 27px;
  letter-spacing: -1px;
  border-radius: 5px;
}

.form__input_smal::-webkit-input-placeholder {color: black;}
.form__input_smal::-moz-placeholder          {color: black;}
.form__input_smal:-moz-placeholder           {color: black;}
.form__input_smal:-ms-input-placeholder      {color: black;}